<div class="container">
  <div class="container">
  <div class="row">
    <div class="col">
      <% if @book.errors.any? %>
      <%= @book.errors.count %>件のエラーが発生しました
      <% @book.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
  <%= flash[:success] %>
  <div class="row">

    <%= render 'books/sidebar', user: @user, book: @book %>

    <div class="col-lg-8">
      <div>
        <table class="table table-striped">
          
          <h2 class="col col-log2">Books</h2>
          
          <div class="row">
            <p class="col col-log2"></p>
            <p class="col col-log4">title</p>
            <p class="col col-log6">opinion</p>
          </div>
          
          <% @books.each do |book| %>
          <%= link_to book_path(book.id) do %>
          <%= attachment_image_tag book.user, :profile_image %>
          <% end %>
          <div class="row">
            <p class="col col-log2"><%= book.user.name %></p>
            <p class="col col-log4"><%=link_to book.title, book_path(book.id) %></p>
            <p class="col col-log6"><%= book.opinion %></p>
          </div>
          <% end %>
        
        </table>
      </div>
    </div>
  </div>

</div>

